/* ===============================
   GLOBAL CSS
================================== */
.custom_hr {
	border: 2px solid #2d3c49;
	height: 1px;
	background-repeat: repeat-x;
}
a {
	color: #2d3c49;
}

.col-md-4 {
	float:left;
}

.col-md-8 {
	//float:right;
	margin: 10px 0 0 0;
}

.custom-col-md-8 {
	float:right;
	//margin: 10px 0 0 0;
}
.photo-circle {
	border-radius: 50%;
}

.border-20 {
	border: 20px;
	margin-bottom: 0px;
	margin-top: 25px;
	font-size: 30px;
}

.border-10 {
	border: 10px;
	margin-bottom: 0px;
	margin-top: 25px;
	font-size: 30px;
}

.light-blue-text {
	color: #7d97ad;
}

.developer-name {
	font-size: 60px;
}

.developer-role {
	font-weight: bold;
	margin: 10px 0;
}

.profile-logo {
	margin-top: 20px;
}

.header-sub {
	padding: 0px 10px;
	font-size: 30px;
}

.bold {
	font-weight: bold;
}

.topic-img {
	width: 100%;
}

.profile-logo {
	width:100px;
	height:100px;
}


/* ==================================
	@media queries for 300 px
===================================== */
@media (min-width: 300px) {

	.developer-name {
		font-size:20px
	}
	
	.developer-role {
		font-size: 10px
	}
	.col-md-8 {
       max-width: 50.666667%;
	}
	.custom_log_width {
       width: 45%;
	}
}

/* ==================================
	@media queries for 360 px
===================================== */
@media (min-width: 360px) {
	
	
	
	.developer-name {
		font-size:30px
	}
	
	.developer-role {
		font-size: 15px
	}
	.col-md-8 {
       max-width: 50.666667%;
	}
	.custom_log_width {
       width: 45%;
	}
}


	


/* ==================================
	@media queries for 765 px
===================================== */
@media (min-width: 650px) {
	
	.developer-name {
		font-size:40px;
	}
	
	.developer-role {
		font-size: 20px;
	}
	
	.col-md-8 {
       max-width: 50.666667%;
	}
	
	.custom_log_width {
       width: 45%;
	}
}


/* ==================================
	@media queries for 770 px
===================================== */
@media (min-width: 770px) {
	
	.developer-name {
		font-size:45px;
	}
	
	.developer-role {
		font-size: 20px;
	}
}

/* ==================================
	@media queries for 926px
===================================== */
@media (min-width: 926px) {
	
	.developer-name {
		font-size:45px;
	}
	
	.developer-role {
		font-size: 25px;
	}
}

/* ==================================
	@media queries for 940 px
===================================== */
@media (min-width: 930px) {
	
	.developer-name {
		font-size:45px;
	}
	
	.developer-role {
		font-size: 25px;
	}
}

