
.custom_hr {
	border: 2px solid #2d3c49;
	height: 1px;
	background-repeat: repeat-x;
	} 
	
	
a{
	color: #2d3c49;
}

.col-md-4 {
	float:left;
}

.col-md-8 {
	float:right;
	margin: 10px 0 0 0;
}

.photo-circle {
    border-radius: 50%;
}

.border-20 {
	border: 20px;
	margin-bottom: 0px;
	margin-top: 25px;
	font-size: 30px;

}

.border-10 {
	border: 10px;
	margin-bottom: 0px;
	margin-top: 25px;
	font-size: 30px;
}


.light-blue-text {
	color: #7d97ad;
}


.developer-name {
	font-size: 60px;
}

.developer-role {
	font-weight: bold;
	margin: 10px 0;
}

.profile-logo {
	margin-top: 20px;
}

.header-sub {
	padding: 0px 10px;
	font-size: 30px;
}

.bold {
	font-weight: bold;
}


.topic-img {
	width: 100%;
}

.profile-logo {
	width:100px;
	height:100px;
}


* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}



@media (min-width: 300px) {

	.profile-logo {
		width:80px;
		height:80px
	}
	
	.developer-name {
		font-size:25px;
	}
	
	.developer-role {
		font-size: 15px;
	}
}

@media (min-width: 360px) {
	
	.profile-logo {
		width:80px;
		height:80px;
	}
	
	.developer-name {
		font-size:30px
	}
	
	.developer-role {
		font-size: 15px
	}
}

@media (min-width: 600px) {
	
	.developer-name {
		font-size:40px
	}
	
	.developer-role {
		font-size: 25px
	}
}

@media (min-width: 768px) {
	.developer-name {
		font-size:45px;
	}
	
	.developer-role {
		font-size: 25px;
	}
}

@media (min-width: 926px) {
	
	.developer-name {
		font-size:45px;
	}
	
	.developer-role {
		font-size: 25px
	}
}

@media (min-width: 926px) {

	
	.developer-name {
		font-size:45px;
	}
	
	.developer-role {
		font-size: 25px
	}
}


